/Default/
.metadata/.plugins/org.eclipse.cdt.ui/uart.build.log
*.log
/.metadata
build/
*.vscode
*.settings
*.metadata
*.cproject
*.project
*=5.0
cleanup.py
docs/
/build
.cproject
/.metadata
.project
/.settings
/.vscode
=5.0
cleanup.py
